<li id="product-<%= product.id %>">
  <div id="productone">
  <%= link_to gravatar_for(product.user, size: 50), product.user %>
  <span class="user"><%= link_to product.user.firstname, product.user %></span>
  <span class="description">
  <span class="product"> Product Name: <%= product.product %> </span>
  <span class="product"> Brand: <%= product.brand %> </span>
  <span class="product"> Category: <%= product.category %> </span>
  <span class="product"> Price: SGD$  <%= number_with_precision(product.price, precision: 2) %> </span>

<h4> Target: <%= product.votes.count %> /<%= product.target %>  </h4>

<% if product.votes.count >= product.target %>

<h4 id="success"> Target Achieved! </h4>

<% else %>

<h4 id="pending"> <%= product.target - product.votes.count %> buyers pending </h4>

<p id="joinnow"> <%= link_to "JOIN NOW!", product%> </p>

<% end %>

</div>
<div id="producttwo">
 <%= image_tag product.picture.url if product.picture? %>
</div>
  <span class="timestamp">
    Posted <%= time_ago_in_words(product.created_at) %> ago.
    <% if current_user?(product.user) %>
      <%= link_to "DELETE", product, method: :delete,
                                       data: { confirm: "You sure?" } %>
      <%= link_to "EDIT", edit_product_path(product.id) %>
    <% end %>
    <%= link_to "REVIEWS (#{product.reviews.count})", product %>
    </span>

</li>
