<% provide(:title, 'Product') %>

<h1 id="productview">Product</h1>

<ol class="products">
<%= render @product %>

  <span id="description"> MESSAGE: <%= @product.description %> </span>

  <% if @product.votes.count >= @product.target %>

  <h2 id="targetachieved"> TARGET ACHIEVED </h2>

  <% else %>

  <%= form_for([@product, @vote]) do |f| %>

  <h5 id="votetitle"> Join the Bulk Purchase Now! (<%= @product.votes.count %>) </h5>

    <div id="voteform" class="field">
      <%= f.hidden_field :product_id, :value => @product.id  %>
        <%= f.submit "JOIN", class: "btn btn-primary", id: "loginbtn" %>
    </div>

  <% end %>

  <% end %>

<%= form_for([@review.product_id, @review]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

<h5 id="reviewtitle"> Reviews (<%= @product.reviews.count %>) </h5>

<ol id="reviewfeed" class="products">
  <%= render @product.reviews %>
</ol>
<%= will_paginate @reviews %>

  <div id="reviewform" class="field">
    <h5> Write your review </h5>
    <%= f.hidden_field :product_id, :value => @product.id  %>
    <%= f.text_area :content, placeholder: "Don't be shy..." %>
      <%= f.submit "Share your review", class: "btn btn-primary", id: "loginbtn" %>
  </div>

<% end %>
